body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #bfdef9; /* Choose your desired background color */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Optional: Set a global font */
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
}

.button-container {
    display: flex; /* Aligns buttons side by side */
    justify-content: center; /* Centers buttons horizontally */
    gap: 10px; /* Adds space between the buttons */
}

.dash-button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 20px;
    border: 1px;
    cursor: pointer;
    box-shadow: 2px -2px rgb(76, 83, 83);
    border-radius: 10px;
}

.dash-button:hover {
    background-color: #4592d5;
    color: white;
}